
/* Estilos para dispositivos móviles (primeros) */
body {
    font-size: 3.5rem;; /* Aumento el tamaño de fuente en rem para dispositivos móviles */
    background-color: #f0f0f0;
    padding: 1.25rem;
    background-image: url('img/bg.webp'); /* Ajusta la ruta de la imagen según la ubicación real */
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
    background-position: center center; /* Ajusta la posición de la imagen de fondo */
    background-repeat: no-repeat; /* Evita que se repita la imagen de fondo */
}

/* Media query para tabletas */
@media (min-width: 48rem) {
    body {
        font-size: 4rem; /* Aumento el tamaño de fuente en rem para tabletas */
    }
}

/* Media query para pantallas más grandes (desktop) */
@media (min-width: 64rem) {
    body {
        font-size: 4.5rem; /* Aumento el tamaño de fuente en rem para pantallas más grandes */
    }
}

@font-face {
    font-family: 'SWfont'; /* Nombre de la fuente personalizada */
    src: url('font/clonewars2.ttf') format('truetype'); /* Ruta de la fuente en línea y formato */
    /* Otros atributos opcionales, como weight y style, si es necesario */
}

@font-face {
    font-family: 'SWfont2'; /* Nombre de la fuente personalizada */
    src: url("font/KyberCrystalDisplay-Aurebesh.otf") format('opentype'); /* Ruta de la fuente en línea y formato */
    /* Otros atributos opcionales, como weight y style, si es necesario */
}

.start-container {
    background-image: url('img/bg.webp'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: auto;
    width: 15rem;
    margin-bottom:2rem;
}
.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20rem;
    margin-bottom: 20rem;
}



.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.25rem; /* Aumento el espacio interno en rem */
    background-color: #a5363218;
    border: 0.125rem solid #ccc; /* Usando rem */
    border-radius: 0.625rem; /* Usando rem */
    max-width: 100rem;
    margin: 0 auto;
}

.question-container p {
    font-family: 'SWfont', sans-serif; /* Aplicar la primera fuente personalizada */
    transition: font-family 1s ease; /* Transición de la fuente */
    font-size: 6rem;
    color: white;
    font-stretch: expanded;
    text-shadow: rgb(100, 3, 3) 2px 0 10px;}


.question-container ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.question-container button {
   /*width: 85%;*/
    margin: 4rem;
    text-align: center;
    font-size: 4rem;
}

/* Estilos para botones de "Siguiente Pregunta" y "Volver a Intentar" se agregarán dinámicamente */
button {
color: #fff;
background-color: #00a7cc82;
padding: 10px 30px;
border: solid #00bbcc 2px;
box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
border-radius: 50px 5px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

#startB{
    margin: 4rem;
    text-align: center;
    font-size: 7rem;
    font-family: 'SWfont', sans-serif;
    font-stretch: expanded;
}

#startI{
    filter: drop-shadow(10px 10px 5px #222);
}

.result-page {
    background-color: #66585881;
    text-align: center; /* Centra el contenido */
    padding: 2rem;
    box-sizing: border-box;
}

.textRes{
    font-size: 3rem;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}

.dificultText{
font-size: 3rem;
color: white;
font-family: "Lucida Console", "Courier New", monospace;
}

.codenum{
    font-size: 3rem;
    color: white;
    background-color: #222;
    font-family:  "Courier New", monospace;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
}

.imageRes2{
    margin-top: 3rem;
}


.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select::-ms-expand {
    display: none;
}

.content-select{
	max-width: 37rem;
	position: relative;
}

.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 60px;
    padding-left: 14px;
    outline: 0; 
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #c12a2a;
	border-bottom:4px solid #2a7dc1;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}

.content-select:hover i{
	margin-top: 3px;
}


.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('background-image.jpg'); /* Reemplaza con la URL de tu imagen de fondo */
    background-size: cover;
    overflow: hidden;
}

.stormtrooper {
    position: absolute;
    left: 5%; /* Ajustado más a la izquierda */
    top: 50%; /* Ajustado más abajo */
    animation: slideIn 1s forwards; /* Animación de entrada */
    max-width: 100%;
    max-height: 100%;
    transform: translate(-20%, -5%); /* Centra el Stormtrooper */
}

.overlay {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 20px; /* Ajusta el espacio de relleno del contenedor general */
    box-sizing: border-box; /* Incluye el espacio de relleno y el borde en el tamaño total */
    cursor: pointer; /* Cambia el cursor al hacer clic */
}

.textostormtrooper{
    font-size: 3rem;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}

@keyframes slideIn {
    0% {
        left: -100%;
    }
    100% {
        left: 10%; /* Ajustado a la izquierda */
    }
}

.overlay p {
    font-size: 1.5rem;
}

/* Estilos para dispositivos móviles (Media Query) */
@media (min-width: 768px) {
    .container {
        background-image: url('background-image-large.jpg'); /* Cambia la imagen de fondo para pantallas más grandes */
    }
    .overlay p {
        font-size: 2rem; /* Tamaño de fuente más grande en pantallas más grandes */
    }
}



.text-container {
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    font-size: 1.5rem;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px; /* Agrega un espacio de relleno para mejorar la apariencia */
    border-radius: 5px; /* Agrega esquinas redondeadas */
    box-sizing: border-box; /* Incluye el espacio de relleno y el borde en el tamaño total */
}


#animated-text {
    font-size: 1.5rem; /* Ajusta el tamaño de fuente según tus preferencias */
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-right: 2px solid white;
    white-space: nowrap;
    animation: typing 3s steps(40) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.blinking-cursor {
    animation: blink-caret 0.75s step-end infinite;
}

/* Estilo del icono */
.blinking-icon {
    font-size: 2rem; /* Ajusta el tamaño del icono */
    color: yellow; /* Cambia el color del icono */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); /* Agrega sombra al icono */
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}

.text-wrapper {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden; /* Evita que el texto se desborde */
}